/* Write your CSS code here */
.heading {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 800;
  color: #1e293b;
}
.cart-logo {
  width: 250px;
}
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}